<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="scaudachuang.catlife.publisher.dao.DetectCatMapper">

    <select id="getResult"
            parameterType="scaudachuang.catlife.publisher.entity.Cat"
            resultType="string">
        select cat.catclass as catclass, introduction, headphoto
        from detectcattask join cat on detectcattask.resultclass = cat.catclass
        where detectcattask.taskid = #{taskId};
    </select>
</mapper>